/* --------------------------------------------------------- */
/* sidebar navigation: inhaltliche Struktur;
/* --------------------------------------------------------- */

/* used colors:
green:  #458241   Buttons, Dreiecke, ausgewählter Suchbereich
gray:   #BFBFBA   Bereiche & Kategorien
white:            Suchfeld, Kategorien-ul */


aside {
  box-sizing: border-box;
  float: left;
  min-height: 30em;
  height: 100%;
  padding: 1% 1% 1% 1%;
  width: 20%;
  border-right: 1px solid black;
}


/* -------------------- Allgemeines ------------------------ */
h4 {
  margin: 0;
  padding: 0;
  font-size: 12pt;
  letter-spacing: 1px;
}
.greyarea {
  background-color: #BFBFBA;
  padding: 2% 4% 2% 4%;
}
label, button {
  cursor: pointer;
}




/* -------------------- Buttons ---------------------------- */

/* button style */
/* http://www.w3schools.com/css/css3_buttons.asp */
button.mainbutton {
  width: 100%;
  background-color: #458241;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12pt;
  border-radius: 5px;
  box-shadow: -3px 4px 5px #A3A3A3;
  outline-color: white;
  margin-bottom: 30px;
}
button.mainbutton:active {
  transform: translateY(1px);
}

button.minorbutton {
  background-color: #BFBFBA;
  border: none;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11pt;
  border-radius: 5px;
  box-shadow: 2px 3px 5px #A3A3A3;
  outline-color: white;
  margin-bottom: 30px;
}
button.minorbutton:active {
  transform: translateY(1px);
}
button {
  outline-color: #458241;
}

/* -------------------- Suchbereichsschalter --------------- */

/* radio input style */
#suchbereich {
  margin-bottom: 30px;
  margin-top: 8px;
}
#suchbereich label {
  /*width:100%;*/
  color: #828282;
  box-sizing: border-box;
  /*display:inline-block;*/
  /*border-radius: 5px;*/
}
#suchbereich label span {
  /*border-radius: 5px;*/
  box-sizing: border-box;
  line-height: 20pt;
  padding: 5px;
  width:100%;
}
#suchbereich label input {
  /*visibility: hidden;*/
  /*position:absolute;*/
}
#suchbereich input:checked + span {
  /*background-color:#458241;*/
  color: #458241;
  font-weight: bold;
  /*box-shadow: inset 4px 3px 30px #424541;*/
}





/* -------------------- Suchfeld --------------------------- */

/* style search-box */
/* inspired by: https://webdesign.tutsplus.com/tutorials/css-experiments-with-a-search-form-input-and-button--cms-22069 */

input[name="search"] {
  box-sizing: border-box;
  width: 80%;
  height: 40px;
  border: none;
  font-size: 11pt;
  font-style: italic;
  color: #458241;
  padding-left: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: white;
  opacity: 0.8;
  float: left;
}
input[name="search"]:hover {
  outline: none;
  opacity: 1;
}
form button.icon {
  position: relative;
  float: right;
  width: 20%;
  height: 40px;
  border: none;
  background-color: white;
  opacity: 0.8;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
}
form button.icon:hover {
  opacity: 1;
  font-size: 18px;
}
.help {
  padding-top: 30px;
  text-align: left;
  font-size: 11pt;
  font-style: italic;
}
input:focus {
  outline-color: #458241;
}





/* -------------------- Filterkategorien ------------------- */
aside ul {
  list-style-type: none;
  padding: 0;
}
aside ul a{
	color: black;
	display: block;
	padding: 10px 20px;
}
aside ul li{
  position: relative;
  background-color: white;
  margin-top: 5%;
  margin-bottom: 0;
}
aside ul a:hover{
  background: #458241;
  color: white;
}
/* Ebene 0 */
aside ul > li{
  display: block; /* untereinander */
  margin-bottom: 5%;
}
/* Ebene 1 */
aside ul > li > ul {
  background-color: white;
  text-align: left;
  width: auto;
  display: none; /* nur zeigen wenn clicked */
  position: relative; /* unter jeweiliger Kategorie */
  /*top: 100%;*/
  /*left: 0;*/
}
aside ul > li > ul > li {
  padding: 5px 0 5px 10px;
  margin: 0;
}
/* checkbox verschwinden lassen */
input[class="hidden"] {
 position: absolute;
 top: -9999px;
 left: -9999px;
}
label.kategorie {
  cursor: pointer;
  user-select: none;
  display:inline-block;
  color: black;
  background: #BFBFBA;
  padding: 4%;
  box-sizing: border-box;
  min-width: 100%;
}
label.kategorie::before {
  margin-top: 2px;
  margin-left: 5px; 
  content: '';
  width: 0; 
  height: 0;
  /* Indikator-Dreieck */
  border-left: 9px solid #458241;
  border-top: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 9px solid transparent; 
  float: left;
}
/* checked */
aside input[class="hidden"]:checked ~ ul {
 display: block;
}
aside input[class="hidden"]:checked ~ label.kategorie::before {
  margin-top: 8px;
  margin-left: 0px;
  margin-right: 5px;
  content: '';
  width: 0px; 
  height: 0px;
  /* umgedrehtes Dreieck */
  border-left: 9px solid transparent;
  border-top: 9px solid #458241;
  border-right: 9px solid transparent;
  border-bottom: 0px solid transparent;
  float: left;
}




/* -------------------- Help pop-up ------------------------ */

/* http://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_right */
.help-hover {
  padding: 0px 6px 0px 6px;
  position: relative;
  display: inline-block;
  /*border-bottom: 1px dotted black;*/
  font-weight: bold;
  cursor: pointer;
}
.help-hover .help-hover-text {
  font-weight: normal;
  font-size: 10pt;
  visibility: hidden;
  width: 140px;
  background-color: #458241;
  color: white;
  text-align: center;
  border-radius: 5px;
  padding: 7px;

  /* position of help-hover-div */
  position: absolute;
  z-index: 1;
  left: 120%;
}
.help-hover:hover .help-hover-text {
  visibility: visible;
}